<div class="card" style="width: 60%; padding: 10px; margin: auto;">
    <img src="{{ data.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><strong>Id: </strong>{{ data.id}}</p>
      <p class="card-text"><strong>Title: </strong> {{ data.title }}</p>
      <p class="card-text"><strong>Content: </strong> {{ data.content }}</p>
      <p class="card-text"><strong>Author: </strong> {{ data.author }}</p>
      <p class="card-text"><strong>date </strong> {{ data.date}}</p>
    <p class="card-text"><strong>tags </strong> {{ data.tags }}</p>
      <a routerLink='/home' class="btn btn-primary" >Go Back</a>
    </div>
  </div>